
@font-face {font-family: "paco";
  src: url('//at.alicdn.com/t/font_e1zonoe8rr4quxr.eot?t=1481089266088'); /* IE9*/
  src: url('//at.alicdn.com/t/font_e1zonoe8rr4quxr.eot?t=1481089266088#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_e1zonoe8rr4quxr.woff?t=1481089266088') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_e1zonoe8rr4quxr.ttf?t=1481089266088') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_e1zonoe8rr4quxr.svg?t=1481089266088#paco') format('svg'); /* iOS 4.1- */
}

.paco {
  font-family:"paco" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before { content: "\e617"; }

.icon-car:before { content: "\e618"; }

.icon-edit:before { content: "\e619"; }

.icon-map:before { content: "\e61a"; }

.icon-user-2:before { content: "\e61b"; }

.icon-qrcode:before { content: "\e61c"; }

.icon-back:before { content: "\e61d"; }

.icon-share:before { content: "\e61e"; }

.icon-more:before { content: "\e61f"; }

.icon-close:before { content: "\e620"; }

.icon-list-rectangle:before { content: "\e621"; }

.icon-trash:before { content: "\e622"; }

.icon-settings:before { content: "\e623"; }

.icon-search:before { content: "\e624"; }

.icon-add:before { content: "\e625"; }

.icon-contact:before { content: "\e626"; }

.icon-avatar:before { content: "\e627"; }

.icon-user:before { content: "\e628"; }

.icon-circle:before { content: "\e600"; }

.icon-arrow-up:before { content: "\e601"; }

.icon-arrow-down:before { content: "\e602"; }

.icon-apply:before { content: "\e603"; }

.icon-yuan:before { content: "\e604"; }

.icon-location:before { content: "\e605"; }

.icon-phone:before { content: "\e606"; }

.icon-right:before { content: "\e607"; }

.icon-home:before { content: "\e608"; }

.icon-info:before { content: "\e609"; }

.icon-refresh:before { content: "\e60a"; }

.icon-arrow-right:before { content: "\e60b"; }

.icon-calc:before { content: "\e60c"; }

.icon-contacts:before { content: "\e60d"; }

.icon-card:before { content: "\e60e"; }

.icon-camera:before { content: "\e60f"; }

.icon-checking:before { content: "\e610"; }

.icon-wrong:before { content: "\e611"; }

.icon-info1:before { content: "\e612"; }

.icon-right-o:before { content: "\e614"; }

.icon-wrong-o:before { content: "\e615"; }

.icon-opps:before { content: "\e616"; }

.icon-monitor:before { content: "\e613"; }

.icon-package:before { content: "\e62a"; }

.icon-gift:before { content: "\e62b"; }

.icon-umbrella:before { content: "\e62c"; }

.icon-menu:before { content: "\e62d"; }

.icon-bill:before { content: "\e62e"; }

.icon-analysis:before { content: "\e62f"; }

.icon-vote:before { content: "\e630"; }

.icon-bell:before { content: "\e631"; }

.icon-user-i:before { content: "\e632"; }

.icon-content:before { content: "\e633"; }

.icon-list-dot:before { content: "\e634"; }

.icon-reply-auto:before { content: "\e635"; }

.icon-like-s:before { content: "\e63f"; }

.icon-gas:before { content: "\e656"; }

.icon-wechat-pay:before { content: "\e657"; }

.icon-money:before { content: "\e658"; }

.icon-alipay:before { content: "\e659"; }

.icon-success:before { content: "\e63a"; }

.icon-tips:before { content: "\e636"; }

.icon-failure:before { content: "\e637"; }

.icon-waiting:before { content: "\e638"; }

.icon-warning:before { content: "\e639"; }

.icon-like:before { content: "\e63b"; }

.icon-upper:before { content: "\e63c"; }

.icon-delete:before { content: "\e63e"; }

.icon-4s-shop:before { content: "\e737"; }

.icon-service:before { content: "\e738"; }

.icon-avatar-s:before { content: "\e739"; }

.icon-promo:before { content: "\e73a"; }

.icon-store:before { content: "\e73c"; }

.icon-telephone-s:before { content: "\e73d"; }

.icon-image:before { content: "\e73f"; }

.icon-telephone-h:before { content: "\e740"; }

.icon-quick-repair:before { content: "\e741"; }

.icon-clock:before { content: "\e742"; }

.icon-camera-p:before { content: "\e744"; }

.icon-parking:before { content: "\e745"; }

.icon-camera-p-o:before { content: "\e746"; }

.icon-sofa:before { content: "\e747"; }

.icon-calendar:before { content: "\e748"; }

.icon-drinks:before { content: "\e749"; }

.icon-repair:before { content: "\e74a"; }

.icon-gps:before { content: "\e74b"; }

.icon-im:before { content: "\e74c"; }

.icon-info-o:before { content: "\e74d"; }

.icon-coupon:before { content: "\e74e"; }

.icon-star-h:before { content: "\e74f"; }

.icon-heart-h:before { content: "\e750"; }

.icon-star-s:before { content: "\e751"; }

.icon-heart:before { content: "\e752"; }

.icon-wifi:before { content: "\e753"; }

.icon-money-s:before { content: "\e754"; }

.icon-tank:before { content: "\e743"; }

.icon-more1:before { content: "\e755"; }

.icon-road:before { content: "\e758"; }

.icon-violation:before { content: "\e759"; }

.icon-tools:before { content: "\e75a"; }

.icon-car-wash:before { content: "\e75b"; }

.icon-calendar-m:before { content: "\e75d"; }

.icon-tag:before { content: "\e763"; }

.icon-record:before { content: "\e764"; }

.icon-tank-e:before { content: "\e765"; }

.icon-location-c:before { content: "\e766"; }

.icon-add-o:before { content: "\e767"; }

.icon-loop:before { content: "\e768"; }

.icon-link:before { content: "\e769"; }

.icon-flag:before { content: "\e76a"; }

.icon-add-b:before { content: "\e76b"; }

.icon-disconnection:before { content: "\e76c"; }

.icon-info-list:before { content: "\e76d"; }

.icon-trash-car:before { content: "\e76f"; }

.icon-valuation:before { content: "\e770"; }

.icon-plate:before { content: "\e771"; }

.icon-money-e:before { content: "\e772"; }

.icon-query:before { content: "\e76e"; }

.icon-query-x:before { content: "\e773"; }

.icon-play:before { content: "\e774"; }

.icon-hot:before { content: "\e775"; }

.icon-comment:before { content: "\e776"; }

.icon-new:before { content: "\e777"; }

.icon-eye:before { content: "\e778"; }

.icon-inspection:before { content: "\e779"; }
